
{{ with .Site.Params.footer }}
<div class="inner split">
    <div>
        <section>
            <h2>{{ .title }}</h2>
            <p>{{ .desc }}</p>
        </section>
        <p class="copyright">
            &copy; Unttled. Design: <a href="http://html5up.net">HTML5 UP</a>.
        </p>
    </div>
    <div>
        <section>
            <h2>Get in touch</h2>
            <form  action="https://formspree.io/{{ .contact }}" method="POST">
                <div class="field half first">
                    <input type="text" name="name" id="name" placeholder="Name" />
                </div>
                <div class="field half">
                    <input type="text" name="email" id="email" placeholder="Email" />
                </div>
                <div class="field">
                    <textarea name="message" id="message" rows="4" placeholder="Message"></textarea>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Send" class="special" /></li>
                    <li><input type="reset" value="Reset" /></li>
                </ul>
            </form>
        </section>
    </div>
</div>
{{ end }}