<h1><a href="{{ $.Site.BaseURL }}"><strong>{{ $.Site.Title }}</strong></a></h1>
<nav>
    <ul>
        <li><a href="#footer" class="icon fa-info-circle">{{ .Site.Params.header.formTitle }}</a></li>
    </ul>
</nav>