<!DOCTYPE HTML>
<html>
	<head>
		<title>167 Border Ave</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		
		{{ "<!-- Partials that make up the site -->" | safeHTML }}

		{{ partial "styles.html" . }}
	</head>
	<body>

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
			<header id="header">
				{{ partial "header.html" . }}
			</header>

			<!-- Main -->
			<div id="main">
				{{ partial "main.html" . }}
			</div>

			<!-- Footer -->
			<footer id="footer" class="panel">
				{{ partial "footer.html" . }}
			</footer>

		</div>

		{{ partial "scripts.html" . }}

	</body>
</html>